.header {
  background-color: #fff;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navList {
  display: flex;
}

.navItem {
  transition: all 200ms;
}

.navItem:hover {
  transform: scale(1.1);
}

.navItem:not(:last-child) {
  margin-right: 40px;
}

.activeLink {
  font-weight: 700;
}

.loginLink {
  padding: 12px;
  border: 1px solid #bbb;
}

.loginLink:hover {
  border: 1px solid #000;
}
