.products {
  padding: 76px 0 78px 0;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url('../../assets/light_bg.jpg');
  background-repeat: repeat;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
