.wrapper {
  display: flex;
  justify-content: space-between;
}

.commentsList {
  width: 50%;
}

.form {
  max-width: 50%;
  width: max-content;
  margin-left: auto;
}

.input {
  padding: 10px;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  resize: none;
}

.button {
  display: block;
}
